@model CRUDProgrammers.Models.PessoaModel 

<div class="col-md-12">
    <div>
        <strong>Nome:</strong>
        @Model.NomeCompleto
    </div>
    <div>
        <strong>Email:</strong>
        @Model.Email
    </div>
    <div>
        <strong>Telefone:</strong>
        @Model.Telefone
    </div>
</div>
<div class="col-md-12 text-center mt-2 mb-2">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="text-info">Alterar</a> |
    <a asp-action="Details" asp-route-id="@Model.Id" class="text-info">Detalhes</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id" class="text-info">Excluir</a>
</div>